@using Sustainsys.Saml2
@model System.Collections.Generic.IEnumerable<System.Security.Claims.Claim>

@{
    ViewBag.Title = "title";
    //Layout = "_Layout";
}

<h2>title</h2>
You can see, because your authority


<p>Claims:</p>
<ul>
    @foreach (var claim in Model)
    {
        <li>@claim.Type - @claim.Value</li>
    }
</ul>